# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [3]:
import pandas as pd
df_08 = pd.read_csv('all_alpha_08.csv')
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [5]:
df_18 = pd.read_csv('all_alpha_18.csv')
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [6]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [7]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.6+ KB

In [9]:
df_08.shape

(2404, 18)

In [10]:
df_18.shape

(1611, 18)

In [11]:
sum(df_08.duplicated())

25

In [12]:
sum(df_18.duplicated())

0

In [13]:
df_08['SmartWay'].nunique()

2

In [14]:
df_18['SmartWay'].nunique()

3

In [17]:
df_08['Sales Area'].nunique()

3

In [18]:
df_18['Cert Region'].nunique()

2

In [20]:
df_08['Trans'].nunique()

14

In [21]:
df_18['Cyl']

0       6.0
1       6.0
2       6.0
3       6.0
4       4.0
5       4.0
6       6.0
7       6.0
8       6.0
9       6.0
10      6.0
11      6.0
12      6.0
13      6.0
14      4.0
15      4.0
16      4.0
17      6.0
18      6.0
19      6.0
20      4.0
21      4.0
22      4.0
23      4.0
24      4.0
25      4.0
26      4.0
27      4.0
28      4.0
29      4.0
       ...
1581    4.0
1582    4.0
1583    4.0
1584    4.0
1585    4.0
1586    4.0
1587    4.0
1588    4.0
1589    4.0
1590    4.0
1591    4.0
1592    4.0
1593    4.0
1594    4.0
1595    4.0
1596    4.0
1597    4.0
1598    4.0
1599    4.0
1600    4.0
1601    4.0
1602    4.0
1603    4.0
1604    4.0
1605    4.0
1606    4.0
1607    4.0
1608    4.0
1609    4.0
1610    4.0
Name: Cyl, Length: 1611, dtype: float64

In [22]:
df_08['Cyl']

0        (6 cyl)
1        (6 cyl)
2        (4 cyl)
3        (4 cyl)
4        (6 cyl)
5        (6 cyl)
6        (6 cyl)
7        (6 cyl)
8        (6 cyl)
9        (6 cyl)
10       (6 cyl)
11       (6 cyl)
12       (4 cyl)
13       (4 cyl)
14       (4 cyl)
15       (4 cyl)
16      (12 cyl)
17      (12 cyl)
18      (12 cyl)
19      (12 cyl)
20      (12 cyl)
21      (12 cyl)
22      (12 cyl)
23      (12 cyl)
24       (8 cyl)
25       (8 cyl)
26       (8 cyl)
27       (8 cyl)
28       (4 cyl)
29       (4 cyl)
          ...
2374     (6 cyl)
2375     (6 cyl)
2376     (8 cyl)
2377     (6 cyl)
2378     (6 cyl)
2379     (6 cyl)
2380     (8 cyl)
2381     (5 cyl)
2382     (5 cyl)
2383     (5 cyl)
2384     (5 cyl)
2385     (5 cyl)
2386     (5 cyl)
2387     (5 cyl)
2388     (5 cyl)
2389     (5 cyl)
2390     (5 cyl)
2391     (5 cyl)
2392     (5 cyl)
2393     (5 cyl)
2394     (6 cyl)
2395     (6 cyl)
2396     (6 cyl)
2397     (6 cyl)
2398     (6 cyl)
2399     (6 cyl)
2400     (8 cyl)
2401     (6 cyl)
2402     (6 cyl)
2403     (8 cyl)
Name: Cyl, Length: 2404, dtype: object

In [24]:
set(df_18['Fuel'])

{'Diesel', 'Electricity', 'Ethanol/Gas', 'Gasoline', 'Gasoline/Electricity'}

In [25]:
set(df_08['Fuel'])

{'CNG', 'Gasoline', 'diesel', 'ethanol', 'ethanol/gas'}