# Fixing `air_pollution_score` Data Type
- 2008: convert string to float
- 2018: convert int to float

Load datasets `data_08_v3.csv` and `data_18_v3.csv`. You should've created these data files in the previous section: *Fixing Data Types Pt 1*.

In [38]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('data_08_v3.csv')
df_18 = pd.read_csv('data_18_v3.csv')

In [39]:
# try using pandas' to_numeric or astype function to convert the
# 2008 air_pollution_score column to float -- this won't work
#df_08['air_pollution_score']

# Figuring out the issue
Looks like this isn't going to be as simple as converting the datatype. According to the error above, the air pollution score value in one of the rows is "6/4" - let's check it out.

In [40]:
df_08[df_08.air_pollution_score == '6/4']

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

# It's not just the air pollution score!
The mpg columns and greenhouse gas scores also seem to have the same problem - maybe that's why these were all saved as strings! According to [this link](http://www.fueleconomy.gov/feg/findacarhelp.shtml#airPollutionScore), which I found from the PDF documentation:

    "If a vehicle can operate on more than one type of fuel, an estimate is provided for each fuel type."
    
Ohh... so all vehicles with more than one fuel type, or hybrids, like the one above (it uses ethanol AND gas) will have a string that holds two values - one for each. This is a little tricky, so I'm going to show you how to do it with the 2008 dataset, and then you'll try it with the 2018 dataset.

In [41]:
# First, let's get all the hybrids in 2008
hb_08 = df_08[df_08['fuel'].str.contains('/')]
hb_08

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

Looks like this dataset only has one! The 2018 has MANY more - but don't worry - the steps I'm taking here will work for that as well!

In [42]:
# hybrids in 2018
hb_18 = df_18[df_18['fuel'].str.contains('/')]

We're going to take each hybrid row and split them into two new rows - one with values for the first fuel type (values before the "/"), and the other with values for the second fuel type (values after the "/"). Let's separate them with two dataframes!

In [43]:
# create two copies of the 2008 hybrids dataframe
df1 = hb_08.copy()  # data on first fuel type of each hybrid vehicle
df2 = hb_08.copy()  # data on second fuel type of each hybrid vehicle

# Each one should look like this
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol/gas,small car,6/4,13/18,19/25,15/21,7/6,no

For this next part, we're going use pandas' apply function. See the docs [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html).

In [44]:
# columns to split by "/"
split_columns = ['fuel', 'air_pollution_score', 'city_mpg', 'hwy_mpg', 'cmb_mpg', 'greenhouse_gas_score']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [45]:
# this dataframe holds info for the FIRST fuel type of the hybrid
# aka the values before the "/"s
df1

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no

In [46]:
# this dataframe holds info for the SECOND fuel type of the hybrid
# aka the values after the "/"s
df2

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [47]:
# combine dataframes to add to the original dataframe
new_rows = df1.append(df2)

# now we have separate rows for each fuel type of each vehicle!
new_rows

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,ethanol,small car,6,13,19,15,7,no
582,MERCEDES-BENZ C300,3.0,6,Auto-L7,2WD,gas,small car,4,18,25,21,6,no

In [48]:
# drop the original hybrid rows
df_08.drop(hb_08.index, inplace=True)

# add in our newly separated rows
df_08 = df_08.append(new_rows, ignore_index=True)

In [49]:
# check that all the original hybrid rows with "/"s are gone
df_08[df_08['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [50]:
df_08.shape

(987, 13)

# Repeat this process for the 2018 dataset

In [51]:
# create two copies of the 2018 hybrids dataframe, hb_18
df1 = hb_18.copy()
df2 = hb_18.copy()

### Split values for `fuel`, `city_mpg`, `hwy_mpg`, `cmb_mpg`
You don't need to split for `air_pollution_score` or `greenhouse_gas_score` here because these columns are already ints in the 2018 dataset.

In [52]:
# list of columns to split
split_columns = ['fuel', 'city_mpg', 'hwy_mpg', 'cmb_mpg']

# apply split function to each column of each dataframe copy
for c in split_columns:
    df1[c] = df1[c].apply(lambda x: x.split("/")[0])
    df2[c] = df2[c].apply(lambda x: x.split("/")[1])

In [53]:
# append the two dataframes
new_rows = df1.append(df2)

# drop each hybrid row from the original 2018 dataframe
# do this by using pandas' drop function with hb_18's index
df_18.drop(hb_18.index, inplace=True)

# append new_rows to df_18
df_18 = df_18.append(new_rows, ignore_index=True)
df_18

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,ACURA TLX,2.4,4,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,ACURA TLX,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,ACURA TLX,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No
5,ACURA TLX AWD A-SPEC,3.5,6,SemiAuto-9,4WD,Gasoline,small car,3,20,29,23,5,No
6,ACURA TLX FWD A-SPEC,3.5,6,SemiAuto-9,2WD,Gasoline,small car,3,20,30,23,5,No
7,ALFA ROMEO 4C,1.8,4,AutoMan-6,2WD,Gasoline,small car,1,24,34,28,6,No
8,ALFA ROMEO Giulia,2.9,6,Auto-8,2WD,Gasoline,midsize car,3,17,24,20,4,No
9,AUDI A3,2.0,4,AMS-6,4WD,Gasoline,small car,7,24,31,27,6,No
10,AUDI A3,2.0,4,AMS-7,2WD,Gasoline,small car,7,26,35,29,6,No
11,AUDI A3 Cabriolet,2.0,4,AMS-6,4WD,Gasoline,small car,7,22,30,25,5,No
12,AUDI A3 Cabriolet,2.0,4,AMS-7,2WD,Gasoline,small car,7,25,33,28,6,No
13,AUDI A4,2.0,4,AMS-7,4WD,Gasoline,small car,5,24,34,27,6,No
14,AUDI A4,2.0,4,Man-6,4WD,Gasoline,small car,3,24,33,27,6,No
15,AUDI A4 Ultra,2.0,4,AMS-7,2WD,Gasoline,small car,3,27,37,31,7,Yes
16,AUDI A5,2.0,4,AMS-7,4WD,Gasoline,small car,5,24,34,27,6,No
17,AUDI A5,2.0,4,Man-6,4WD,Gasoline,small car,3,24,33,27,6,No
18,AUDI A5 Cabriolet,2.0,4,AMS-7,4WD,Gasoline,small car,5,24,34,27,6,No
19,AUDI A5 Sportback quattro,2.0,4,AMS-7,4WD,Gasoline,midsize car,5,24,34,27,6,No
20,AUDI A6,2.0,4,AMS-7,2WD,Gasoline,midsize car,5,25,34,28,6,No
21,AUDI A6,2.0,4,SemiAuto-8,4WD,Gasoline,midsize car,5,22,31,26,5,No
22,AUDI A6,3.0,6,SemiAuto-8,4WD,Gasoline,midsize car,3,20,29,23,5,No
23,AUDI A7,3.0,6,SemiAuto-8,4WD,Gasoline,midsize car,3,20,29,23,5,No
24,AUDI A8 L,3.0,6,SemiAuto-8,4WD,Gasoline,large car,3,19,29,22,4,No
25,AUDI Q3,2.0,4,SemiAuto-6,2WD,Gasoline,small car,3,20,28,23,5,No
26,AUDI Q3,2.0,4,SemiAuto-6,4WD,Gasoline,small car,3,20,28,23,5,No
27,AUDI Q5,2.0,4,SemiAuto-7,4WD,Gasoline,small SUV,3,23,27,25,5,No
28,AUDI Q7,2.0,4,SemiAuto-8,4WD,Gasoline,standard SUV,3,19,25,21,4,No
29,AUDI Q7,3.0,6,SemiAuto-8,4WD,Gasoline,standard SUV,3,19,25,21,4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,CHEVROLET Suburban 1500,5.3,8,Auto-6,2WD,Gas,standard SUV,3,16,23,19,3,No
803,CHEVROLET Suburban 1500,5.3,8,Auto-6,4WD,Gas,standard SUV,3,16,22,18,3,No
804,CHEVROLET Tahoe 1500,5.3,8,Auto-6,2WD,Gas,standard SUV,3,16,23,19,3,No
805,CHEVROLET Tahoe 1500,5.3,8,Auto-6,4WD,Gas,standard SUV,3,16,22,18,3,No
806,CHEVROLET Volt,1.5,4,CVT,2WD,Electricity,small car,3,113,99,106,10,Yes
807,CHEVROLET Volt,1.5,4,CVT,2WD,Electricity,small car,7,113,99,106,10,Elite
808,CHRYSLER 300,3.6,6,Auto-8,2WD,Gas,large car,3,19,30,23,5,No
809,CHRYSLER 300,3.6,6,Auto-8,4WD,Gas,large car,3,18,27,21,4,No
810,DODGE Charger,3.6,6,Auto-8,2WD,Gas,large car,3,19,30,23,5,No
811,DODGE Charger,3.6,6,Auto-8,4WD,Gas,large car,3,18,27,21,4,No
812,FORD Fusion Energi Plug-in Hybrid,2.0,4,CVT,2WD,Electricity,midsize car,7,102,91,97,10,Elite
813,GMC Sierra 15,4.3,6,Auto-6,2WD,Gas,pickup,5,18,24,20,4,No
814,GMC Sierra 15,4.3,6,Auto-6,4WD,Gas,pickup,5,17,22,19,3,No
815,GMC Sierra 15,5.3,8,Auto-6,2WD,Gas,pickup,3,16,23,19,3,No
816,GMC Yukon 1500,5.3,8,Auto-6,2WD,Gas,standard SUV,3,16,23,19,3,No
817,GMC Yukon 1500,5.3,8,Auto-6,4WD,Gas,standard SUV,3,16,22,18,3,No
818,GMC Yukon 1500 XL,5.3,8,Auto-6,2WD,Gas,standard SUV,3,16,23,19,3,No
819,GMC Yukon XL 1500,5.3,8,Auto-6,4WD,Gas,standard SUV,3,16,22,18,3,No
820,JEEP Cherokee,2.4,4,Auto-9,2WD,Gas,small SUV,3,21,30,25,5,No
821,JEEP Cherokee,2.4,4,Auto-9,4WD,Gas,small SUV,3,21,28,23,5,No
822,KARMA Revero,2.0,4,Auto-1,2WD,Electricity,small car,1,59,61,60,10,No
823,MERCEDES-BENZ CLA250 4Matic,2.0,4,AutoMan-7,4WD,Gas,small car,5,24,32,27,6,No
824,MERCEDES-BENZ GLA250 4Matic,2.0,4,AutoMan-7,4WD,Gas,small SUV,5,23,31,26,5,No
825,MERCEDES-BENZ GLE350 4Matic,3.5,6,Auto-7,4WD,Gas,standard SUV,3,18,22,19,3,No
826,MINI Cooper SE Countryman All4,1.5,3,SemiAuto-6,4WD,Electricity,midsize car,3,63,66,65,9,Yes
827,TOYOTA Sequoia FFV,5.7,8,SemiAuto-6,4WD,Gas,standard SUV,5,13,17,14,1,No
828,TOYOTA Tundra FFV,5.7,8,SemiAuto-6,4WD,Gas,pickup,5,13,17,15,2,No
829,VOLVO S90,2.0,4,SemiAuto-8,4WD,Electricity,midsize car,7,70,72,71,10,Elite
830,VOLVO XC 60,2.0,4,SemiAuto-8,4WD,Electricity,small SUV,7,60,58,59,10,Elite
831,VOLVO XC 90,2.0,4,SemiAuto-8,4WD,Electricity,standard SUV,7,63,61,62,10,Elite

In [54]:
# check that they're gone
df_18[df_18['fuel'].str.contains('/')]

Empty DataFrame
Columns: [model, displ, cyl, trans, drive, fuel, veh_class, air_pollution_score, city_mpg, hwy_mpg, cmb_mpg, greenhouse_gas_score, smartway]
Index: []

In [55]:
df_18.shape

(832, 13)

### Now we can comfortably continue the changes needed for `air_pollution_score`! Here they are again:
- 2008: convert string to float
- 2018: convert int to float

In [56]:
# convert string to float for 2008 air pollution column
df_08['air_pollution_score'] = df_08['air_pollution_score'].astype(float)

In [ ]:
# convert int to float for 2018 air pollution column
df_18['air_pollution_score'] = df_18['air_pollution_score'].

In [ ]:
df_08.to_csv('data_08_v4.csv', index=False)
df_18.to_csv('data_18_v4.csv', index=False)